body {
    margin: 0;
    padding: 0;
}

html, body, #app {
    height: 100%;
    width: 100%;
}

#app {
    background: url(../images/bg.svg);
}

li {
    list-style: none;
}

/* 滚动条样式 */
::-webkit-scrollbar {
    /* display: none; */
    width: .5rem;
    height: .5rem;
    background: hsla(0, 0%, 100%, 0.6);
}

::-webkit-scrollbar-track {
    border-radius: 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: rgba(95, 95, 95, .4);
    transition: all .2s;
    border-radius: .5rem;
}

.v-modal {
    position: static !important;
}